.header{
    z-index: 100;
    border-bottom:1px solid rgb(219, 217, 217);
    background-color: white;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    display: flex;
    flex-direction: row;
    height:60px;
    justify-content: space-between;
}
.left-section{
    display:flex;
    align-items: center;

}
.hamburger{
    cursor:pointer;
    margin-left:25px;
    margin-right:25px;
    height:22px;
}
.ytlogo{
    cursor:pointer;
    height:20px;
}
.right-section{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:230px;
    flex-shrink: 0;
  

}
.middle-section{
    display:flex;
    align-items:center;
    max-width: 500px;
    margin-left:90px;
    margin-right:35px;
    flex:1;

}
.searchbar{
    border:1px solid rgb(198, 198, 198);
    padding-left:10px;
    flex:1;
    height:40px;
    font-size:15px;
    border-radius: 2px;
    box-shadow:inset 1px 2px 5px rbga(0,0,0,0.05);
    width:0;
}
.searchbar::placeholder{
    font-family: Roboto,Arial;
    font-size:15px;
}
.search{
    height:24px;

 
  
}
.search-btn{
    width:70px;
    height:40px;
    cursor:pointer;
     border:1px solid rgb(198, 198, 198);
    background-color:rgb(247, 247, 247);
    margin-left:-1.3px;
    margin-right:10px;
  

    

}
.search-btn,.voice-btn,.upload-btn,.yt-apps-btn,.notification-btn{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}
.search-box{
    font-family: Roboto,Arial;
    color:white;
    font-size: 12px;
    background-color: rgb(103, 103, 103);
    padding:9px 9px;
    position: absolute;
    bottom:-50px;

    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;

}
.search-btn:hover .search-box{
    opacity: 1;
}
.voice-btn:hover .search-box{
    opacity: 1;
}
.upload-btn:hover .search-box{
    opacity: 1;
}
.yt-apps-btn:hover .search-box{
    opacity: 1;
}
.notification-btn:hover .search-box{
    opacity: 1;
}
.voice-search{
    cursor:pointer;
    height:20px;
}
.voice-btn{
     background-color:rgb(247, 247, 247);
    width:40px;
    height:40px;
    border:none;
    border-radius:20px;
}
.upload-btn{
 background-color: white;
    border:none;
    height:25px;
    cursor:pointer;

}
.yt-apps-btn{
        cursor:pointer;
     background-color: white;
        border:none;
    height:25px;

}

.notification-icon-container{
    position:relative;

}
.notification-count{
    position:absolute;
    border:none;
    color:white;
    font-family: Roboto,Arial;
    background-color: rgb(198, 2, 2);
    font-size: 12px;
  width: 15px;
  height:15px;
  overflow: hidden;
  border-radius: 50px;
  top:0px;
  right:-3px;
  text-align: center;
}
.notification-btn{
        cursor:pointer;
     background-color: white;
        border:none;
    height:25px;

}
/* .my-pfp-btn{
        cursor:pointer;
     background-color: white;
        border:none;
    height:25px;

} */
.upload{

    height:24px;

}
.yt-apps{
    height:24px;

}
.notification{
    height:24px;

}
.my-pfp{
    margin-right:12px;
    
    height:32px;
    border-radius:40px;

}